*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: green;
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(14, 151, 14);
}


.btn{
    background-color: transparent;
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: green;
}
.vert { 
    border-right: 4px solid green; 
}